table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: green;
}
li{
  display: inline;
}
li a{
  padding: 10px;
  background-color: inherit;
  color: white;
  text-decoration: none;
}
li a:hover{
  background-color: grey;
}
.login{
  width: 200px;
}
