<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <div class="login">
      <form name="login" action="/login" method="post">
        <label for="">Username:</label>
        <input type="text" name="username" value="">
        <label for="">Password:</label>
        <input type="password" name="password" value="">
        <input type="submit" name="" value="Log In">
      </form>
      <button type="button" name="button" onclick="location.href='/studentsignup'">Student Sign Up</button>
      <button type="button" name="button" onclick="location.href='/teachersignup'">Teacher Sign Up</button>
    </div>
    <script type="text/javascript">
      function validateForm(){
        var username = document.forms["login"]["username"].value
        var password = document.forms["signup"]["password"].value
        if(username == "" || password == ""){
          alert("Please enter Username and Password")
          return false
        }
      }
    </script>
  </body>
</html>
