<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Student</title>
  </head>
  <body>
    <ul>
      <li><a href="/student">Home</a></li>
      <li><a href="/stdCourses">My Courses</a></li>
      <li><a href="/stdAddClass">Add Course</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
    <h1>Add Course</h1>
    <hr>
    <form name="stdAddClass" action="/stdAddClass" method="post">
      Enter Class Code: <input type="text" name="code" value=""><br>
      <input type="submit" name="" value="Add">
    </form>
    <script type="text/javascript">
      function validateForm(){
        var username = document.forms["stdAddClass"]["code"].value
        if(code == ""){
          alert("Please enter class code")
          return false
        }
      }
    </script>
  </body>
</html>
