<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Student</title>
  </head>
  <body>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">My Courses</a></li>
      <li><a href="#">Add Course</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
    <h1>Welcome <%=firstname %></h1>
    <table>
      <tr>
        <th>CourseID</th>
        <th>Course</th>
        <th>Category</th>
        <th>Credit Hour</th>
        <th>Student Count</th>
        <th>Grade</th>
      </tr>
      <tr>
        <th>001</th>
        <th>Computational Geometry</th>
        <th>Selective</th>
        <th>3.0</th>
        <th>30</th>
        <th>B+</th>
      </tr>
      <tr>
        <th>012</th>
        <th>Introduction to Artificial Intelegence</th>
        <th>Selective</th>
        <th>3.0</th>
        <th>25</th>
        <th>B-</th>
      </tr>
    </table>
    <button type="button" name="button">Show GPA</button>
  </body>
</html>
